@font-face {
  font-family: 'EliceDigitalBaeum-Bd';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_elice@1.0/EliceDigitalBaeum-Bd.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NanumSquareRound';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream-3Light';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/*전체 적용*/
* {
  margin: 0px;
  padding: 0px;
}

/*레이아웃*/
nav {
  background-color: #4D4C7D;
  display: flex;
  justify-content: space-between;
  color: #D8B9C3;
  height: 50px;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  top : 0;
  position:sticky;
}

nav>ul {
  display: flex;
  list-style: none;
}

.nav_menu>li>a {
  padding: 5px;
}

.nav_icon>li {
  padding-left: 10px;
  padding-right: 10px;
}

nav a:link {
  color : #D8B9C3;
  text-decoration-line: none;
}

nav a:visited {
  color: #C8D9EB;
  text-decoration-line: none;
}

header {
  background-color: #363062; 
  color: #EFEDFF;
  font-family: "EliceDigitalBaeum-Bd";
  font-size: 30px;
}

header>section {
  display: flex;
  flex-wrap: wrap;
}

.header_left {
  text-align: center;
  padding: 25px;
  font-family: "EliceDigitalBaeum-Bd";
  font-size: 30px;
}

.header_right {
  font-size: 15px;
  padding: 10px;
}

.header_left, .header_right {
  width: 100;
}

main {
  background-color: #9091b3;
  color: #05021b;
  display: flex;
  flex-wrap: wrap;
}

main>h1{
  font-family: "EliceDigitalBaeum-Bd";
}

.content {
  font-family: 'NanumSquareRound';
}

main>section {
  width: 25%;
  margin: 10px;
  padding: 20px;
  text-align: center;
}

img {
  border-radius: 25%;
  border-style: solid;
  border-width: 1px;
  border-color: #4D4C7D;
}

footer {
  background-color: #4D4C7D;
  color: #D8B9C3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'S-CoreDream-3Light';
  bottom: 0;
  position: sticky;
}

footer>p {
  width: 30%;
  margin: 10px;
  text-align: center;
  padding: 10px;
  font-size: 15px;
}

footer>ul {
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px;
  font-size: 13px;
}

@media only screen and (max-width:600) {
  header {
    flex-direction: column;
    align-items: center;
  }
  .header_left, .header_right {
    width: 80%;
    flex-direction: column;
    align-items: center;
  }
  main>section {
    width: 80%;
  }
  
  footer > ul {
    display: none;
  }
}